
*{
	padding:  0;
	margin:  0;
}
body{
	width: 1240px;
}
#bodySon{
	margin: auto;
}
a{
	text-decoration: none;
}
a:visited{
	color:red;
}
a:hover{
	color: blue;
}

#backgroundLogo{
	background: black;
	width: 100%;
	height: 100px;
}
h1{
	margin: auto;
	text-align: center;
}
#loginForm{
	max-width: 45%;
    margin-top: -31%;
    margin-left: auto;
    margin-right: auto;
}
.loginInfo{
    font-size: 21px;
    max-width: 100%;
}
#searchBox1{
    width: 100%;
    padding: 1%;
    text-align: center;
}
#receptionButton{
    background: black;
    color: darkgoldenrod;
    width: 100%;
    height: 74px;
    font-size: 29px;
    font-weight: bold;
}
#wellcome{
    margin-top: -5%;
    padding-left: 2%;
    color: white;
    font-size: 13px;
}
#loginButton{
    margin-top: -2.2%;
    float: right;
    background: black;
    font-size: 20px;
    width: 12%;
	height: 34%;
	margin-right: 3%;
	color: darksalmon;
	font-weight: bold;
}
#quoteParent{
	position: relative;
}
#quote{
	position: absolute;
}
/* -------------------Nav------------------- */
nav{
    background-image: url('image/backGround2.png');
    height: 602px;
    margin-top: 17%;
}
li{
	list-style-type: none;
}
.liClass1{
	float: left;
	padding: 1% 0 1% 5.5%;
	font-size: 20px;
	font-weight: bold;
	color: yellowgreen;

}
.liClass2{
    float: left;
	padding: 76px 0 0 16%;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

#backgroundLogo2{
	width: 100%;
	height: 655px;
}
#prices{
	text-align: center;
	padding-top: 6%;
	font-size: 50px;
	font-weight: bold;
}
/* --------------------------Section---------------------------- */
section{
	height: 574px;
	background: lightgoldenrodyellow;
}
#fromUs{
	    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding-top: 2%;
}
.cooktail{
    float: left;
    padding: 27px 0 27px 0;
    width: 33.33%;
    text-align: center;
}
.cooktailPrice, .cooktailName{
	font-weight: bold;
	font-size: 20px;
	padding-top: 1%;
}
.cooktailPrice{
	color: red;
}
#showAll{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
#showAllBackGround{
    float: left;
    font-size: 30px;
    padding: 1%;
    margin-left: 44%;
    background: darkgoldenrod;
    margin-bottom: 2%;
}
/* -----------------------------artice------------------------------------ */
/* #article1{
    width: 100%;
    height: 500px;
   background-image: url('image/backGround2.png');
} */