section
{
    display: -webkit-flex;
    display: flex;
}
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
    }
nav ul, h1 {
    list-style-type: none;
    padding: 0;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
    }
table, tr
{
	border: 2px solid blue;
	border-collapse: collapse;
	background: blue; color: gray;
	}
tr
	{
	padding: 5px;
}
img
{
	text-align: center;
}
h1
{
	font-size: 50px;text-align: center;
}
td, table
{
	font-size: 30px;text-align: center;
}

li
{
	text-align: left;
}